<app-header (makeopend)="make($event)"  [agreed]="one" [disagreed]="oue">
</app-header>
<mat-sidenav-container class="container">
  <mat-sidenav #MatSidenav mode="side" opened="true" class="sidenav">
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="footer">
  <button class="sidenav-button" mat-fab (click)="MatSidenav.toggle()" >
    <mat-icon aria-label="open close navigation">arrow_back</mat-icon>
  </button>
  <p class="copyright">版权所有@合时代金融服务有限公司</p>
</mat-toolbar>
