.container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.copyright {
  position: relative;
  left: 40%;
  text-align: center;
}

.sidenav-button {
  position: relative;
  left: 2%;
}
