mat-card {
  margin: 20px;
}

button {
  background-color: white;
  border: none;
}

.pods-icon-btn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: none;
  background-color: white;
  min-width: 0;
  right: 0px;
}
.pods-cell {
  justify-content: space-between;
}
