.pods-icon-btn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  border: none;
  background-color: white;
  min-width: 0;
  right: 0px;
}
.pods-cell {
  justify-content: space-between;
}

.main-container {
  margin: 20px;
}

.titleAndFilter * {
  display: inline-block;
}
.titleAndFilter input,mat-icon,mat-form-field {
  float: right;
}
button {
  background-color: white;
  border: none;
}
