<mat-card class="deployment-detail-card">
  <mat-card-header>
    <div mat-card-avatar class="deployment-detail-header-image"></div>
    <mat-card-title><h3>凭据</h3></mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content *ngIf="secret">
    <mat-list role="list">
      <mat-list-item>
        <div>
          <span>名称：</span><span>{{ secret.metadata.name }}</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div>
          <span>命名空间：</span><span>{{ secret.metadata.namespace }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
          <span>类型：</span><span>{{ secret.type }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
          <span>创建时间：</span><span>{{ secret.metadata.creationTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
          <span>CA公钥：</span><span>{{ secret.data['ca.crt'] }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
          <span>命名空间编码：</span><span>{{ secret.data.namespace }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
          <span>令牌：</span><span>{{ secret.data.token }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>

<!--<app-pod-with-label [label]="service.metadata.labels | label" [namespace]="service.metadata.namespace"></app-pod-with-label>-->
