<mat-card class="deployment-detail-card">
  <mat-card-header>
    <div mat-card-avatar class="deployment-detail-header-image"></div>
    <mat-card-title><h3>服务</h3></mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item>
        <div>
          <span>名称：</span><span>{{ namespace.metadata.name }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
            <span>创建时间：</span><span>{{ namespace.status.phase }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div>
          <span>创建时间：</span><span>{{ namespace.metadata.creationTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<mat-divider></mat-divider>

<!--<app-pod-with-label  [namespace]="namespace.metadata.name"></app-pod-with-label>-->
