.my-code-editor {
  .editorContainer {
    height: calc(70vh);
    //height: 100%;
  }
}
//}
//.app-log {
//   height: 600px;
//   width: 100%;
// }
.my-code-editor {
  height: calc(74vh);
}
.button-yaml {
}
.button-commit {
  left: 80%;
}
.button-cancel {
  left: 80%;
}
