<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <!--<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"><mat-icon aria-label="Side nav toggle icon">menu</mat-icon></button>-->
      <mat-icon aria-label="Side nav toggle icon">dashboard</mat-icon>合时代</mat-toolbar>
    <div class="app-nav-list">
    <mat-nav-list>
      <h3 mat-subheader>集群</h3>
      <mat-list-item *ngFor="let item of cluster">
        <a mat-list-item
           [routerLink]="item.route"
           [queryParams]="{'namespace': item.namespace}"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{exact:true}">
          <mat-icon mat-list-icon>settings_system_daydream</mat-icon>
          <h4 mat-line>{{item.name}}</h4>
        </a>
      </mat-list-item>
      <h3 mat-subheader>命名空间</h3>
      <mat-select class="select-namespace" [value]="selected" (selectionChange)="setNamespace($event.value)">
        <mat-option *ngFor="let ns of namespaces" [value]="ns.value">{{ns.viewValue}}</mat-option>
      </mat-select>
      <h3 mat-subheader>工作</h3>
      <mat-list-item *ngFor="let item of workers">
        <a mat-list-item
           [routerLink]="[item.route]"
           [queryParams]="{'namespace': item.namespace}"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{exact:true}">
          <mat-icon mat-list-icon>dvr</mat-icon>
          <h4 mat-line>{{item.name}}</h4>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>服务与网关</h3>
      <mat-list-item *ngFor="let item of services">
        <a mat-list-item
           [routerLink]="item.route"
           [queryParams]="{'namespace': item.namespace}"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{exact:true}">
          <mat-icon mat-list-icon>directions</mat-icon>
          <h4 mat-line>{{item.name}}</h4>
        </a>
      </mat-list-item>
      <h3 mat-subheader>配置与秘密</h3>
      <mat-list-item *ngFor="let item of secrets">
        <a mat-list-item
           [routerLink]="item.route"
           [queryParams]="{'namespace': item.namespace}"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{exact:true}">
          <mat-icon mat-list-icon>note_add</mat-icon>
          <h4 mat-line>{{item.name}}</h4>
        </a>
      </mat-list-item>
    </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!--*ngIf="isHandset$ | async">-->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>运维平台</span>
      <app-application-button></app-application-button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
