button {
  background-color: white;
  border: white;
}

.deployment-cell {
  justify-content: space-between;
}

.titleAndFilter * {
  display: inline-block;
}
.titleAndFilter input,mat-icon,mat-form-field {
  float: right;
}

mat-card {
  margin: 20px;
}
